*{
	margin:0;
	padding:0;
}
.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
/*---------Navigation Bar---------*/
#nav-bar{
	position:sticky;
	top:0;
	z-index:10;
}
.navbar-nav li{
	padding:0 10px;
}
.navbar-nav li a{
	float:right;
	text-align:left;
}
#nav-bar ul li a:hover{
	color:#007bff!important;
}
.navbar{
	background:#fff;
}
.navbar-toggler{
	border:none!important;
}
.nav-link{
	color:#555!important;
	font-weight:600;
	font-size:16px;
}
/*--------slider------*/
#slider{
	width:100%;
}
.carousel-caption{
	top:50%;
	transform:translateY(-50%);
	bottom:initial!important;
}
.carousel-caption h5{
	color:#fff;
	font-size:42px;
}
/*---------About------*/
#team{
	padding-top:50px;
	padding-bottom:50px;
	color:#555;
}
h1{
	text-align:center;
	color:#555!important;
	padding-bottom:10px;
}
h1::after{
	content:'';
	background:#007bff;
	display:block;
	height:3px;
	width:170px;
	margin:20px auto 5px;
}
.profile-pic{
	margin-top:25px;
}
.profile-pic .img-box{
	opacity:1;
	display:block;
	position:relative;
}
.profile-pic .img-box img{
	filter:grayscale(1);
}
.profile-pic .img-box img:hover{
	filter:grayscale(0);
	cursor:pointer;
}
.profile-pic h2{
	font-size:22px;
	font-weight:bold;
	margin-top:15px;
	color:#007bff!important;
}
.profile-pic h3{
	font-size:15px;
	font-weight:bold;
	margin-top:15px;
	color:#007bff!important;
}
/*----Get in Touch-----*/
#contact{
	background:#efefef;
	padding-top:40px;
	padding-bottom:40px;
	color:#777;
}
.contact-form{
	padding:15px;
}
.form-control{
	border-radius:0!important;
	border:none!important;
}
::placeholder{
	color:#999!important;
}
.follow{
	background:#fff;
	padding:10px;
	margin:15px;
}
.contact-info .fa{
	margin:10px;
	color:#007bff;
	font-weight:bold;
}
/*--Domain--*/
#domain{
	padding-top:50px;
	padding-bottom:50px;
	color:#555;
}
.buttonlearn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-item figure {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.portfolio-item figure img {
  display: block;
  position: relative;
  z-index: 1;
  margin: -15px 0;
}

.portfolio-item figure figcaption {
  display: block;
  position: absolute;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.portfolio-item figure h2 {
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: left;
  padding-bottom: 15px;
}

.portfolio-item figure p {
  display: block;
  line-height: 18px;
  margin: 0;
  color: #fff;
  text-align: left
}

.portfolio-item figure figcaption {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 59px 30px;
  background-color: #BE9E21;
  backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  text-align: center;
}

.portfolio-item figure img {
  backface-visibility: hidden;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s
}

.portfolio-item figure:hover img, figure.hover img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg)
}

.portfolio-item figure:hover figcaption, figure.hover figcaption {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  transform: rotateY(0)
}
@media (min-width: 768px) and (max-width: 980px) {
  .portfolio-item figure figcaption {
    padding: 55px 30px;
  }
  .padding-right-zero {
    padding-right: 15px !important;
  }
}
@media (min-width: 20px) and (max-width: 450px) {
  .portfolio-item figure figcaption {
    padding: 30px 30px;
  }
  .padding-right-zero {
    padding-right: 15px !important;
  }
  .portfolio-item figure p {
    font-size: 14px;
  }
  .portfolio-item figure h2 {
    font-size: 18px;
  }
}
#LitBox{
	/*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 800px;
    z-index: 9999;
    border-radius: 10px;
    background-color: #7c7d7e;
	overflow: scroll;
	height:500px;
 }
 #RgapBox{
     /*initially dialog box is hidden*/
     display: none;
     position: fixed;
     width: 800px;
     z-index: 9999;
     border-radius: 10px;
     background-color: #7c7d7e;
}
#RprobBox{
     /*initially dialog box is hidden*/
     display: none;
     position: fixed;
     width: 800px;
     z-index: 9999;
     border-radius: 10px;
     background-color: #7c7d7e;
}
#ObjBox{
     /*initially dialog box is hidden*/
     display: none;
     position: fixed;
     width: 800px;
     z-index: 9999;
     border-radius: 10px;
     background-color: #7c7d7e;
}
#TechBox{
    /*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 500px;
    z-index: 9999;
    border-radius: 10px;
    background-color: #7c7d7e;
}
#MethBox{
     /*initially dialog box is hidden*/
     display: none;
     position: fixed;
     width: 800px;
     z-index: 9999;
     border-radius: 10px;
     background-color: #7c7d7e;
	 overflow: scroll;
	 height:500px;
}
#milestoneproposalBox{
	/*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 800px;
    z-index: 9999;
    border-radius: 10px;
    background-color: #7c7d7e;
}
#milestonesrsBox{
	/*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 800px;
    z-index: 9999;
    border-radius: 10px;
    background-color: #7c7d7e;
}
#progressBox1{
	/*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 800px;
    z-index: 9999;
    border-radius: 10px;
    background-color: #7c7d7e;
}
#progressBox2{
	/*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 800px;
    z-index: 9999;
    border-radius: 10px;
    background-color: #7c7d7e;
}
#finalBox{
	/*initially dialog box is hidden*/
    display: none;
    position: fixed;
    width: 800px;
    z-index: 9999;
    border-radius: 10px;
    background-color: #7c7d7e;
}  
 #dlg-header{
    background-color: #8a8b8e;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px 10px 0 10px;
}
#dlg-body{
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 10px;
    margin: 0 10px 0 10px;
}
#dlg-footer{
    background-color: #f2f2f2;
    text-align: right;
    padding: 10px;
    margin: 0 10px 10px 10px;
}
#dlg-footer button{
    background-color: #6d84b4;
    color: white;
    padding: 5px;
    border: 0;
}
/*--Documant--*/
#documant{
	padding-top:50px;
	padding-bottom:50px;
	color:#555;
}
/*--Download Button--*/
.download-btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.download-btn:hover {
  background-color: RoyalBlue;
}
.button-view {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-view span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-view span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-view:hover span {
  padding-right: 25px;
}

.button-view:hover span:after {
  opacity: 1;
  right: 0;
}
